<%- include('partials/header'); -%>
<% if (smoothies.length > 0) { %>
  <button onclick="location.href= '/addSmoothies'">
    Add My Smoothie
  </button>
  <ul class="recipes">
    <% smoothies.forEach(function(smoothie){ %>
      <%- include('partials/smoothie.ejs', {smoothie: smoothie}); %>
    <% }); %>
  </ul>
<% } else{ %>
  Nothing
  <button onclick="location.href= '/addSmoothies'">
    Add My Smoothie
  </button>
<% } %>

<script>
  const delSmoothie = async(id) =>{
    if(!id) return
    try {
      const res = await fetch('/smoothies/' + id, { method: "DELETE" })
      const data = await res.json()
      if(data._id) {
        alert('delete success')
        window.location.reload()
      }
    } catch (err) {
      console.log(err)
    }
  }
</script>

<%- include('partials/footer'); -%>