<%- include('partials/header'); -%>

<% if (smoothies.length > 0) { %>
  <ul class="recipes">
    <% smoothies.forEach(function(smoothie){ %>
      <%- include('partials/smoothie.ejs', {smoothie: smoothie}); %>
    <% }); %>
  </ul>
<% } else{ %>
  Nothing
  <button onclick="location.href= '/addSmoothies'">
    Add My Smoothie
  </button>
<% } %>

<%- include('partials/footer'); -%>